    .box {
      opacity: 0;
      transform: translateX(-100px);
      transition: all 0.5s ease-out;
    }
    .box.right {
      transform: translateX(100px);
    }
    .box.right.show {
      transform: translateX(0);
    } 
    .box.show {
      opacity: 1;
      transform: translateX(0);
    }

